html {
  font-size: 10px;
}

body {
  font-size: 16px;
  color: #100A30;
  font-family: 'Inter', sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1234px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  vertical-align: center;
  padding-top: 21px;
  padding-bottom: 13px;
}

.container {
  max-width: 1234px;
  margin: 0 auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin-left: 40px;
  list-style: none;
}

.nav__link {
  text-decoration: none;
}

.nav__link__color {
  color: #624DE3;
  text-decoration: none;
}

.nav__link__button {
  font-size: 14px;
  padding: 16px 27px;
  background-color: #624DE3;
  text-decoration: none;
  border-radius: 6px;
  color: #FFFFFF;
  line-height: 24px;
  font-weight: normal;
}

.main {
  background-color: #100A30;
  position: relative;
  padding-bottom: 765px;
}

.main__img {
  position: absolute;
  bottom: -180px;
}

.main__text {
  color: #FFFFFF;
  font-size: 55px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.56px;
  padding-top: 62px;
  margin-top: 0;
}

.main__text2 {
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  opacity: 0.7;
}

.button {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.button__item1 {
  background-color: #624DE3;
  padding: 15px 36px;
  border-radius: 6px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 16px;
  font-size: 15px;
}

.button__item2 {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid #C3C1CB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 15px 37px;
}

.section {
  background-color: #FFFFFF;
}

.tarif_text {
  margin-top: 214px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

.tarifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tarifs-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
}

.tarifs-1-footer {
  background-color: rgba(16, 10, 48, 0.03);
}

.tarifs-2-footer {
  background-color: rgba(25, 199, 135, 0.05);
}

.tarifs-3-footer {
  background-color: rgba(252, 185, 52, 0.05);
}

.tarifs-list {
  list-style: none;
  padding-left: 0;
}

.tarifs-list__item1 {
  position: relative;
  padding-left: 30px;
  margin-top: 16px;
  font-size: 14px;
  font-weight: bold;
}

.tarifs-list__item1::before {
  content: '';
  display: block;
  background-image: url(../img/check1.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(50% - 1rem);
  left: 0;
}

.tarifs-list__item2 {
  position: relative;
  padding-left: 30px;
  margin-top: 16px;
  font-size: 14px;
  font-weight: bold;
}

.tarifs-list__item2::before {
  content: '';
  display: block;
  background-image: url(../img/check2.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(50% - 1rem);
  left: 0;
}

.tarifs-list__item3 {
  position: relative;
  padding-left: 30px;
  margin-top: 16px;
  font-size: 14px;
  font-weight: bold;
}

.tarifs-list__item3::before {
  content: '';
  display: block;
  background-image: url(../img/check3.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(50% - 1rem);
  left: 0;
}

.tarifs-footer {
  border-radius: 0 0 8px 8px;
  padding: 24px 30px;
}

.tarifs-1-header {
  background-image: url(../img/tarif1.svg);
}

.tarifs-2-header {
  background-image: url(../img/tarif2.svg);
}

.tarifs-3-header {
  background-image: url(../img/tarif3.svg);
}

.tarifs-header {
  padding-top: 100px;
}

.tarifs-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #100A30;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 40px 30px 35px;
}

.tarifs-info__title {
  font-size: 24px;
  font-weight: normal;
  color: #FFFFFF;
  margin: 0;
}

.tarifs-info__title::before {
  content: '';
  display: block;
  width: 6.1rem;
  height: 1.6rem;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 13px;
}

.tarifs-info__price {
  font-size: 48px;
  color: #FFFFFF;
  margin: 0;
}

.tarifs-info__price span {
  font-size: 15px;
}

.feedback-wrap {
  margin: 150px 0 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 900px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 41px;
  max-width: 596px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.feedback-author__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.feedback-author__address {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.feedback-text {
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.18px;
  color: #4C4764;
}

.feedback-url {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #100A30;
}

.feedback-title {
  max-width: 596px;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.feedback-wrap {
  padding-top: 200px;
}

.feedback-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback-header__avatar {
  margin-right: 16px;
  height: 48px;
  width: 48px;
}

.feedback-header__social {
  margin-left: auto;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.feedback-red {
  background-color: #FDEBEE;
}

.feedback-purple {
  background-color: #E8E5FB;
}

.feedback-blue {
  background-color: #E6F3FF;
}

.feedback-green {
  background-color: #E8FAF3;
}

.feedback-yellow {
  background-color: #FFF5E1;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 271px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 123.2rem;
  margin: 0 auto;
  padding: 5.6rem 0 5.8rem;
}

.footer-first {
  margin-bottom: 20px;
}

.footer-slogan {
  margin: 21px 0 26px 0;
  line-height: 3rem;
  letter-spacing: 0.18px;
  color: #4C4764;
}

.footer-bcg {
  background-color: #F8F8F9;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 108px;
}

.footer-item {
  min-width: 19.8rem;
}

.footer-item-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 2px 0 12px;
}

.footer-list {
  text-decoration: none;
  list-style: none;
  margin-top: 8px;
  padding-left: 0;
}

.footer-list__item__url {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.18px;
  color: #4C4764;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */